body {
  font-family: "Roboto", sans-serif;
  color: #0c0c0c;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
  position: relative;
  top: 100px;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.container_border_style {
  position: relative;
  padding: 20px;
}

.container_border_style::before, .container_border_style::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 3px;
  height: 90px;
  background-color: #03a7d3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container_border_style::before {
  left: 0;
}

.container_border_style::after {
  right: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  background-color: #020230;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  background-color: #dadee3;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 10px 0;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 20px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #ffffff;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #dadee3;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #000000;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  
}

.slider_section .detail-box h1 span {
  font-size: 3rem;
  color: #03a7d3;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  position: relative;
  top: 30px;
}

.slider_section .detail-box a {
  margin: 5px;
  width: 195px;
  text-align: center;
}

.slider_section .detail-box .btn-1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #03a7d3;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #03a7d3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider_section .detail-box .btn-1:hover {
  background-color: transparent;
  color: #03a7d3;
}

.slider_section .detail-box .btn-2 {
  display: inline-block;
  padding: 12px 20px;
  background-color: #000000; /* Preto */
  color: #ffffff; /* Branco */
  border-radius: 6px;
  border: 2px solid #000000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.slider_section .detail-box .btn-2 {
  display: inline-block;
  padding: 22px 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  width: 50%;
  overflow: hidden;
  z-index:50;
}

.slider_section .detail-box .btn-2:hover::before {
  opacity: 0.2;
}

.slider_section .detail-box .btn-2:hover {
  color: #000000;
  background-color: #007bff; /* Branco ao passar o mouse */
  border-color: #ffffff;
}

.slider_section .detail-box .btn-2 span {
  position: relative;
  z-index: 1;
}
.slider_section .img-box img {
  width: 230%;
  position: relative;
  right: 200;
}

.slider_section .carousel_btn-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  z-index: 3;
  font-size: 22px;
}

.slider_section .carousel_btn-box .carousel-control-prev,
.slider_section .carousel_btn-box .carousel-control-next {
  position: unset;
  width: 50px;
  height: 50px;
  background-color: #03a7d3;
  opacity: 1;
  font-size: 28px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider_section .carousel_btn-box .carousel-control-prev:hover,
.slider_section .carousel_btn-box .carousel-control-next:hover {
  background-color: #ffffff;
  color: #000000;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box p {
  color: #999;
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007bff;
  
}

.service_section {
  position: relative;
}

.service_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.service_section .box:hover {
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.service_section .box .img-box {
  width: 75px;
  height: 75px;
  background-color: #007bff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 10px;
}

.service_section .box .img-box img {
  width: 100%;
  max-width: 45px;
  max-height: 45px;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 22px;
}

.service_section .box .detail-box a {
  color: #007bff;
}

.service_section .box .detail-box a:hover {
  color: #ff4646;
}



.server_section {
  background: linear-gradient(110deg, transparent 25%, #c0c5cc 25%);
  padding: 55px 0;
  color: #000000;
  position:relative;
  top: 151px;
  
}

.server_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.server_section .img-box {
  position: relative;
}

.server_section .img-box img {
  width: 100%;
}

.server_section .img-box .play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 65px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
}

.server_section .img-box .play_btn button {
  background-color: transparent;
  border: none;
  background-color: #03a7d3;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 3;
  outline: none;
}

.server_section .img-box .play_btn:before, .server_section .img-box .play_btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #03a7d3;
  opacity: 1;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.server_section .img-box .play_btn:before {
  z-index: 2;
  -webkit-animation: before-animation 1500ms infinite;
          animation: before-animation 1500ms infinite;
}

.server_section .img-box .play_btn:after {
  z-index: 1;
  -webkit-animation: after-animation 1500ms infinite;
          animation: after-animation 1500ms infinite;
}

@-webkit-keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes after-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

@keyframes after-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.server_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 25px;
}

.server_section .detail-box a:hover {
  background-color: #007bff;
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.price_section .price_container .box {
  margin: 45px 15px 0 15px;
}

.price_section .price_container .box .detail-box {
  width: 300px;
  padding: 40px 20px 15px 20px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.price_section .price_container .box .detail-box h2 {
  font-weight: bold;
}

.price_section .price_container .box .detail-box h2 span {
  font-size: 3rem;
}

.price_section .price_container .box .detail-box h6 {
  text-transform: uppercase;
  color: #03a7d3;
  font-size: 20px;
  margin-bottom: 10px;
}

.price_section .price_container .box .price_features {
  padding: 0;
  list-style-type: none;
}

.price_section .price_container .box .price_features li {
  margin: 10px 0;
}

.price_section .price_container .box .btn-box {
  margin-top: 25px;
}

.price_section .price_container .box .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #ff4646;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ff4646;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
}

.price_section .price_container .box .btn-box a:hover {
  background-color: transparent;
  color: #ff4646;
}

.price_section .price_container .box .btn-box a:hover {
  background-color: #03a7d3;
  color: #ffffff;
}

.price_section .price_container .box:hover {
  color: #ffffff;
}

.price_section .price_container .box:hover .detail-box {
  background-color: #03a7d3;
}

.price_section .price_container .box:hover h6 {
  color: #ffffff;
}

.price_section .price_container .box:hover a {
  background-color: #03a7d3;
  color: #ffffff;
}

.client_section {
  padding-bottom: 45px;
}

.client_section .heading_container {
  margin-bottom: 35px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0;
}

.client_section .box .img-box {
  width: 125px;
  height: 125px;
  min-width: 125px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: -65px;
  position: relative;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_info .client_name h5 {
  font-weight: bold;
  color: #03a7d3;
  margin-bottom: 0;
  text-transform: uppercase;
}

.client_section .box .client_info .client_name h6 {
  margin-bottom: 0;
  color: #ff4646;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.client_section .box .client_info i {
  font-size: 24px;
  color: #03a7d3;
}

.client_section .box p {
  margin-top: 25px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  padding: 45px 45px 45px 85px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #03a7d3;
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.client_section .carousel-control-prev {
  left: 0;
}

.client_section .carousel-control-next {
  right: 0;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .form_container input {
  width: 100%;
  border: 1px solid #b0b0b0;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #101010;
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #b0b0b0;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #b0b0b0;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #b0b0b0;
}

.contact_section .form_container input::placeholder {
  color: #b0b0b0;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 65px;
  background-color: #ff4646;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #ff4646;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #ff4646;
}

/* info section */
.info_section {
  background-color: #000000;
  color: #ffffff;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #ff4646;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #ff4646;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a img {
  margin-right: 10px;
}

.info_section .info_links a:hover, .info_section .info_links a.active {
  color: #007bff;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #000000;
  border: 1px solid white;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007bff;
}

/* end info section */
/* footer section*/
.footer_section {
  position: relative;
  background-color: #020230;
  text-align: center;
}

.footer_section p {
  color: #ffffff;
  padding: 20px 0;
  margin: 0;
  border-top: 1px solid #ffffff;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */



:root {
  --primary: #000000;
  --background: #181a1e;
  --secondary-background: #F2F2F2;
  --gray: #847F90;
  --gray-hover: #171717;
  --primary-hover: #555555;
  --link-gray: #716d7a;
  --link-gray-hover: #171717;
  --gray: #E1E1E1;
  --gray-border: #E6E6E6;
  --white: #FCFCFC;
  --navbar-height: 100px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu__wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100vw;
  z-index: 2;
  gap: 1.5rem;
  height: 120px;
  padding: 0px 1rem;
  top: 0;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}

.Menu_top {
  position: relative;
  top: 14px;

}

.menu__bar {
  display: flex;
  align-items: center;
}



.navigation {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
}

.navigation>li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 2.25rem;
}

.navigation>li>a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navigation > li > a:hover {
  transform: translateY(-4px); /* Eleva o link quando o mouse passa por cima */
  color: #007BFF; /* Altere a cor conforme o design */

}

.navigation>li>button {
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: -0.25rem;
  align-items: center;
  min-height: 2.25rem;
  font-size: 20px;
  gap: 0.25rem;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: nowrap;
  border-radius: 10rem;
  padding: 0.25rem 0.6125rem;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navigation>li>button>svg {
  margin-top: 2px;
  fill: var(--link-gray);
  transition: all 0.2s ease-in-out;
}


.navigation>li:hover>button svg {
  fill: var(--link-gray-hover);
  rotate: 180deg;
}

.navigation>li:hover>button {
  color: var(--link-gray-hover);
  background: var(--gray);
}

.navigation>li:hover .dropdown, 
.navigation>li:focus-within .dropdown {
  display: block;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.99) 
      translateY(-0.7em);
      transform-origin: top;
  }
  to {
      opacity: 1;
      transform: scale(1) translateY(0);
  }
}

.dropdown__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3.75rem;
}

.dropdown {
  border-radius: 0.5rem;
  background: var(--white);
  display: none;
  padding: 0.5rem;
  width: 100%;
  max-width: 36rem;
  border: 1px solid var(--gray-border);
  box-shadow:
      0 50px 100px -20px rgba(0, 0, 0, .12),
      0 30px 60px -30px rgba(0, 0, 0, .15);
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out;
}

.list-items-with-description {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.list-items-with-description li {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 0.375rem;
}

.list-items-with-description li:hover {
  background: var(--secondary-background);
}

.list-items-with-description li svg {
  stroke-width: 1px;
  width: 1.5rem;
  height: 1.5rem;
}

.item-title h3 {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--link-gray-hover);
}

.item-title p {
  font-size: 0.7rem;
  white-space: nowrap;
  color: var(--link-gray);
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
}

.action-buttons a {
  text-decoration: none;
  font-size: 0.875rem;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
  line-height: 1.25rem;
}


.burger-menu {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

@media (max-width: 760px) {
  .hide {
      display: none;
  }

  .burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      min-width: 2rem;
      min-height: 2rem;
      pointer-events: all;
      gap: 0.25rem;
      flex-direction: column;
      border: 1px solid var(--gray-border);
      margin-right: 20px;
  }

  .burger-menu svg {
      height: 1.25rem;
      stroke: var(--link-gray);
      width: 1.25rem;
  }
  .CarrosseuH1 {
    font-size: 30px !important;   
  }
  .PContainer{
    font-size: 20px  !important;

  }
  .PContainer2 {
    font-size: 32px !important;

  }

  .CarrosseuH12 {
    font-size: 50px !important;

  }
  .slider-container {
    width: calc(111% - 2em) !important;
    left: 0px;
  }

}

/* .container-Logos{ */
  /* padding: 96px; */

/* } */


/* @keyframes slide { */
  /* from { */
    /* transform: translateX(0); */
  /* } */
  /* to { */
    /* transform: translateX(-100%); */
  /* } */
/* } */

/* .logos { */
  /* overflow: hidden; */
  /* padding: 60px 0; */
  /* background: #f2f2f2; */
  /* white-space: nowrap; */
  /* position: relative; */
/* } */

/* .logos:before, */
/* .logos:after { */
  /* position: absolute; */
  /* top: 0; */
  /* width: 250px; */
  /* height: 100%; */
  /* content: ""; */
  /* z-index: 2; */
/* } */

/* .logos:before { */
  /* left: 0; */
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
/* } */

/* .logos:after { */
  /* right: 0; */
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
/* } */

/* .logos:hover .logos-slide { */
  /* animation-play-state: paused; */
/* } */

/* .logos-slide { */
  /* display: inline-block; */
  /* animation: 25s slide infinite linear; */
/* } */

/* .logos-slide img { */
  /* height: 100px; */
  /* margin: 0 40px; */
/* } */


 /** Carousel starts here **/
:root {
  --items-per-page: 4;
}

.carousel_slide2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container2 {   
  white-space: nowrap;
}

.carousel-item2 {
  display: inline-block;
  min-width: calc(100% / var(--items-per-page)); /* Display 3 items at a time */
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: white; /* Fundo branco */
  color: #333; /* Cor do texto ajustada para um tom escuro que contrasta bem com o fundo branco */
  border-radius: 8px; /* Cantos arredondados para um visual mais suave */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra mais ampla e uniforme ao redor do item */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transição suave para efeito hover */
}

.carousel-item2:hover {
  transform: scale(1.03); /* Efeito de aumento ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}



.carousel-item2 img {
	height:172px; 
	width:244px;
}



.logo {
  max-width: 200px;
  max-height: 120px;
  width: 60px;
  height: 60px;
  position: relative;
  top: 3px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
}


/* Fundo gradiente para o logo */
.logo-background {
  background: linear-gradient(45deg, #ff6b6b, #f0e130);
  padding: 10px;
  display: inline-block;
  
}

.text-container {
  font-size: 1em;
  font-weight: bold;
  color: #007bff;
  white-space: nowrap;
  overflow: auto;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  0%, 100% { border-color: transparent; }
  
} 

.CarrosseuH1 {
  font-size: 50px ;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease-in-out;
}

.loader {
  width: 50px;
  height: 50px;
  position: relative;
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid transparent;
  border-radius: 50%;
}

.loader::before {
  border-top-color: #333333;
  animation: spin 1s linear infinite;
}

.loader::after {
  border-bottom-color: #666666;
  animation: spin 1.5s linear infinite reverse;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: #333;
}

.loaded #preloader {
  opacity: 0;
  visibility: hidden;
}

.loaded .content {
  opacity: 1;
}


/* Estilos para o Modal */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); /* Fundo semi-transparente preto */
  animation: fadeIn 0.5s; /* Animação de entrada */
}

.modal-content {
  background-color: #1e1e1e; /* Fundo escuro mais profundo */
  margin: 2% auto;
  padding: 30px;
  border: 1px solid #333;
  width: 80%;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8); /* Sombra mais profunda */
  color: #fff; /* Texto branco */
  transform: scale(0.9); /* Reduz o modal inicialmente */
  animation: scaleUp 0.5s forwards; /* Animação de aumento */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}

.close2 {
  color: #2980b9; /* Azul escuro */
  float: right;
  font-size: 32px;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s; /* Transição suave */
}

.close2:hover {
  color: white;

}

.modal-title {
  margin-top: 0;
  color: #2980b9; /* Azul escuro */
  font-family: 'Arial', sans-serif;
  font-size: 26px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra mais forte */
}




.contact-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 10px;
  color: #ccc; /* Texto em cinza claro */
  font-size: 16px;
}

.form-input, .form-textarea, .form-select {
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #555; /* Borda padrão escura */
  border-radius: 8px;
  background: linear-gradient(145deg, #222, #333); /* Gradiente escuro */
  color: #fff; /* Texto dos inputs */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
}

/* Estilo do combo-box */
.form-select {
  appearance: none; /* Remove o estilo padrão do navegador */
  background: #333 url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48cGF0aCBkPSJNNSwwIEwgNTAuNiw1IEwgMTAwLDEwMCIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utb3BhY2l0eT0iLjUiIHN0cm9rZS1kYXRhLWFuZC1iYWNrcm91bmQtY29sb3I9IiMyODkwYjkiLz48L3BhdGg+PC9zdmc+'); /* Adiciona uma seta customizada */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.form-input:focus, .form-textarea:focus, .form-select:focus {
  border-color: #2980b9; /* Borda azul escura quando em foco */
  outline: none; /* Remove o contorno padrão */
  box-shadow: 0 0 10px rgba(41, 128, 185, 0.8); /* Sombra azul ao redor do campo */
}

.form-button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(145deg, #2980b9, #1a5276); /* Gradiente azul escuro */
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s; /* Transição suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra do botão */
}

.form-button:hover {
  background: linear-gradient(145deg, #1a5276, #2980b9); /* Gradiente invertido */
  transform: translateY(-2px); /* Efeito de elevação */
}

.form-button:active {
  transform: translateY(1px); /* Efeito de pressão */
}

.slider-container {
  width: 150%;
  max-width: 900px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

video {
  width: 100%;
  display: block;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
}

.video-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.play-button {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.play-button:hover {
  background-color: #ccc;
}

.play-button:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 25px solid #333;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s cubic-bezier(0.65, 0, 0.35, 1), transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: opacity, transform;
  margin-bottom: 50px;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-section h2 {
  font-size: 2rem;
  color: #333;
}

.fade-in-section p {
  font-size: 1rem;
  color: #666;
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
  .container {
      padding: 30px;
  }

  .fade-in-section {
      transform: translateY(20px);
      margin-bottom: 30px;
  }

  .fade-in-section h2 {
      font-size: 1.5rem;
  }

  .fade-in-section p {
      font-size: 0.875rem;
  }

  #MenuResponsivoTel{
    display: block !important;

  }

  .container-Logos {
    padding: 0 !important;
  }
  .carousel-item2 img {
	width:170px;
	height:120px;
  
  }

}

@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .slider_section .detail-box h1{
    margin-bottom: 40px  !important;

  }
  .slider_section .detail-box {
    position: relative;
    top: 10px;
  }

  .CarrosseuH1 {
    font-size: 40px !important;
    position: relative;
    top: 20px !important;
  }

  .slider_section .img-box img {
    width: 230%;
    position: relative !important;
    top: 60;
    right: 200;
  }

  .slider_section .detail-box .btn-2 {
    position: relative  !important;
    bottom: 45px;

  }

  .PContainer{
    font-size: 21px !important;

  }
  .slider-container {
    right: 40px !important;
    width: calc(130% - 2em); 
  } 

}

.list{margin-top:36px; text-align:left;}
.item{
	height:115px;
	margin-top:30px 0;
	padding-left:115px;
	clear:both;
}
.item .img, .item span{background:#214273; border-radius:3px;}
.item .img{float:left; width:71px; height:71px; margin-left:-93px;}
.item span{height:11px; width:180px; margin-bottom:19px; float:left;}
.item span:nth-of-type(3){width:75px; margin-botom:0;}

div.burger {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 50px;
  right: 40px;
  cursor: pointer;
}
	div.x,
	div.y,
	div.z {
		position: absolute; margin: auto;
		top: 0px; bottom: 0px;		
		background: #fff;
		border-radius:2px;
		-webkit-transition: all 200ms ease-out;
		   -moz-transition: all 200ms ease-out;
		    -ms-transition: all 200ms ease-out;
		     -o-transition: all 200ms ease-out;
		        transition: all 200ms ease-out;
	}		
	div.x, div.y, div.z { height: 3px; width: 26px; }
	div.y{top: 18px;}
	div.z{top: 37px;}
	div.collapse{
		top: 20px;
		background:#4a89dc;
		-webkit-transition: all 70ms ease-out;
		   -moz-transition: all 70ms ease-out;
		    -ms-transition: all 70ms ease-out;
		     -o-transition: all 70ms ease-out;
		        transition: all 70ms ease-out;
	}
	 
	
	div.rotate30{
		-ms-transform: rotate(30deg); 
    	-webkit-transform: rotate(30deg); 
	    transform: rotate(30deg);	
		-webkit-transition: all 50ms ease-out;
		   -moz-transition: all 50ms ease-out;
		    -ms-transition: all 50ms ease-out;
		     -o-transition: all 50ms ease-out;
		        transition: all 50ms ease-out;					
	}
	div.rotate150{
		-ms-transform: rotate(150deg); 
    	-webkit-transform: rotate(150deg); 
	    transform: rotate(150deg);	
		-webkit-transition: all 50ms ease-out;
		   -moz-transition: all 50ms ease-out;
		    -ms-transition: all 50ms ease-out;
		     -o-transition: all 50ms ease-out;
		        transition: all 50ms ease-out;					
	}
	
	div.rotate45{
		-ms-transform: rotate(45deg); 
    	-webkit-transform: rotate(45deg); 
	    transform: rotate(45deg);	
		-webkit-transition: all 100ms ease-out;
		   -moz-transition: all 100ms ease-out;
		    -ms-transition: all 100ms ease-out;
		     -o-transition: all 100ms ease-out;
		        transition: all 100ms ease-out;					
	}
	div.rotate135{
		-ms-transform: rotate(135deg); 
    	-webkit-transform: rotate(135deg); 
	    transform: rotate(135deg);	
		-webkit-transition: all 100ms ease-out;
		   -moz-transition: all 100ms ease-out;
		    -ms-transition: all 100ms ease-out;
		     -o-transition: all 100ms ease-out;
		        transition: all 100ms ease-out;					
	}

div.navbar{height:73px;background:#385e97;}

div.circle{	
	width: 0px;
	height: 0px; 
	position:absolute;
	top: 50px;
  right: 40px;
	background:#000000;
	opacity:1;
	-webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
div.circle.expand{
	width:1200px;
	height:1500px;
	top: -560px;
	left: -565px; 	
	-webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);					
	
}
div.menu {
	height: 568px; 
	width: 320px;
	position: absolute;
	top: 20px; 
  left: 0px;
}
div.menu ul li {
	list-style: none;
	position:absolute;
	top:50px;;
	left:0;
	opacity:0;
	width:320px;
	text-align:center;
	font-size:0px;
	-webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.menu ul li a {
	color:#4a89dc;
	text-transform:uppercase;
	text-decoration:none;	
	letter-spacing:3px;			
}

div.menu li.animate{
	font-size:21px;
	opacity:1;
	-webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.menu li.animate:nth-of-type(1){	
	top:120px;
	transition-delay: 0.0s;	
}
div.menu li.animate:nth-of-type(2){
	top:190px;
	transition-delay: 0.03s;	
			
}
div.menu li.animate:nth-of-type(3){
	top:260px;
	transition-delay: 0.06s;		
	
}
div.menu li.animate:nth-of-type(4){
	top:330px;
	transition-delay: 0.09s;		
	
}
div.menu li.animate:nth-of-type(5){
	top:400px;
	transition-delay: 0.12s;		
	
}
div.menu li.animate:nth-of-type(6){
	top:470px;
	transition-delay: 0.15s;	
			
}

#MenuResponsivoTel {
  display: none;
}

.flexButtonOpen {
    background-color: #000; /* Cor de fundo escura */
    color: #fff; /* Cor do texto */
    border: none; /* Remove bordas padrão */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: all 0.3s ease; /* Transição suave para animações */
    display: inline-flex; /* Para centralizar o texto */
    align-items: center; /* Alinha verticalmente o texto */
    justify-content: center; /* Alinha horizontalmente o texto */
}

/* Efeito de hover para animação */
.flexButtonOpen:hover {
    background-color: #007bff; /* Cor de fundo mais clara no hover */
    transform: scale(1.05); /* Leve aumento de tamanho no hover */
    border: 1px solid white;
  }

/* Efeito de foco para acessibilidade */
.flexButtonOpen:focus {
    outline: 3px solid #ff6347; /* Contorno laranja para foco */
    outline-offset: 4px; /* Espaço entre o contorno e o botão */
}
